<!-- views/partials/footer.ejs -->
<style>
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        
    }   
    .footer p {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .footer a {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        color: white;
    }
</style>
<footer class="footer">
    <p>msaarinen@kolumbus.fi <br>
        Myytävät cdt listattu discogsiin:<br>
        <a href="https://www.discogs.com/seller/kaaoskorp/profile">https://www.discogs.com/seller/kaaoskorp/profile</a>
    </p>
</footer>