<header>
    <h1 class="punk">
      <span>K</span><span>a</span><span>a</span><span>o</span><span>s</span>
        <span></span>
      <br>
      <span>K</span><span>o</span><span style="color:black">r</span><span>p</span><span>o</span><span>r</span><span>a</span><span>a</span><span>t</span><span>i</span><span>o</span>
    </h1>
    
</header>