<!DOCTYPE html>
<html>
    <head>
        <title>Kaaos korporaatio: Pääsivu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="keywords" content="punk, punk levyjä, lp, punk lp, levykauppa">
        <link rel="stylesheet" href="/style.css">
        
        <script src="/components/header.js" type="text/javascript" defer></script>
        <script src="/functionality/sortTable.js" type="text/javascript" defer></script>
    </head>
    <body>
        <nav class="pageNav">
            <ul>
                <li><a href="./"><strong>Pääsivu</strong></a></li>
                <li><a href="./ulkomaiset_levyt">Ulkomaiset levyt</a></li>
                <li><a href="./suomilevyt">Suomalaiset levyt</a>  </li>
                <li><a href="./muut">Muut tuotteet</a>  </li>
            </ul>
        </nav>
        <!-- header -->
        <%- include('partials/header') %>
        <main>
            <section id="info">
                <h2>INFO</h2>
                <p>
                    <strong>msaarinen@kolumbus.fi</strong><br>
                    <strong>postikulut:</strong><br>
                    lp-paketti 6 €, yli 50 € tilaus 3 € ja yli 100 € tilaus kuluitta
                    sinkkuja tai cdtä sisältävä lähetys 1-2kpl 3,5 €, useampi 5 €<br>
                    Maksu tilille tai paypalilla<br>
                    Toimitus postikuluitta Tampereella esim. Vastavirralle.
                </p>
            </section>
            <section id="comingSoon">
                <h2>Tulossa voi varailla</h2>
                <ul class="productList">
                    <li>HYVINK&Auml;&Auml; EP huhtikuun loppu</li>
                    <li>LASTA EP huhtikuun loppu</li>
                    <li>AIVOPROTEESI LP toukokuu</li>
                    <li>SUURKAUPUNGIN HAITAT LP toukokuun puoliv&auml;li</li>
                    <li>SIELUN VELJET: SIELUN VELJET LP svart, huhtikuussa</li>
                    <li>PYH&Auml;T NUKET: KUOLEMAN SOTATANSSI LP kes&auml;kuu, svart</li>
                    <li>RUDIMENTARY PENI 12&rdquo; uusi 12&rdquo; toukokuussa</li>
                    </ul>
            </section>

            <section id="newRecords">
                <h2>Uutta</h2>
                <iframe src="https://script.google.com/macros/s/AKfycbx_MLplx8RNXBANCgLsMCO3pP6Xs3jelesveqI5GGTzNWhf3UhQ4woj02v8eF06bcMo/exec"
                height="500" width="100%"></iframe>
                <div class="open_grepper_editor" title="Edit & Save To Grepper"></div>
            </section>

        </main>
        <%- include('partials/footer') %>
    </body>
</html>