<!DOCTYPE html>
<html>
    <head>
        <title>Kaaos korporaatio: Pääsivu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/punkLetters.css">
        <link rel="stylesheet" href="/punkLettersRainbow.css">
    </head>
    <body>
        <nav class="pageNav">
            <ul>
                <li><a href="./"><strong>Pääsivu</strong></a></li>
                <li><a href="./ulkomaiset_levyt">Ulkomaiset levyt</a></li>
                <li><a href="./suomilevyt">Suomalaiset levyt</a>  </li>
                <li><a href="./otherStuff.html">Muut tuotteet</a>  </li>
            </ul>
        </nav>
        
        <header>
                <h1 class="punk">
                    <span>K</span><span>a</span><span>a</span><span>o</span><span>s</span>
                    <span></span>
                    <br>
                    <span>K</span><span>o</span><span style="color:black">r</span><span>p</span><span>o</span><span>r</span><span>a</span><span>a</span><span>t</span><span>i</span><span>o</span>
                </h1>
            </header>
        <main>
            <section id="info">
                <h2>INFO</h2>
                <p>
                    <strong>msaarinen@kolumbus.fi</strong><br>
                    <strong>postikulut:</strong><br>
                    lp-paketti 6 €, yli 50 € tilaus 3 € ja yli 100 € tilaus kuluitta
                    sinkkuja tai cdtä sisältävä lähetys 1-2kpl 3,5 €, useampi 5 €<br>
                    Maksu tilille tai paypalilla<br>
                    Toimitus postikuluitta Tampereella esim. Vastavirralle.
                </p>
            </section>
            <section id="protected">
                <h2>PROTECTED SUOJAMUOVEJA:</h2>
                <p>
                    sinkun suojamuovi 100 kpl 10 € tai 0,10 € kpl<br>
                    10” suojamuovi  0,15 € kpl<br>
                    lp suojamuovi 100 kpl 20 € tai 0,20 € kpl - 30 g pe muovi<br>
                    lp suojamuovi 100 kpl 18 € tai 0,20 € kpl - 20 g pe muovi<br>
                    sinkun muovitettu sisäpussi 100 kpl 15 € tai 0,20 € kpl<br>
                </p>
            </section>
            <section id="comingSoon">
                <h2>Tulossa voi varailla</h2>
                <ul class="productList">
                    <li>HYVINK&Auml;&Auml; EP huhtikuun loppu</li>
                    <li>LASTA EP huhtikuun loppu</li>
                    <li>AIVOPROTEESI LP toukokuu</li>
                    <li>SUURKAUPUNGIN HAITAT LP toukokuun puoliv&auml;li</li>
                    <li>SIELUN VELJET: SIELUN VELJET LP svart, huhtikuussa</li>
                    <li>PYH&Auml;T NUKET: KUOLEMAN SOTATANSSI LP kes&auml;kuu, svart</li>
                    <li>RUDIMENTARY PENI 12&rdquo; uusi 12&rdquo; toukokuussa</li>
                    </ul>
            </section>
            <section id="newRecords">
                <h2>Uutta</h2>
                <%# read from database %>
                <div class="itemTable">
                    <table>
                      <thead>
                        <tr>
                          <th>Artistin nimi</th>
                          <th>Levyn nimi</th>
                          <th>Hinta</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i = 0; i < levyt.length; i++) { %>
                        <tr>
                          <td><%= levyt[i].aname %></td>
                          <td><%= levyt[i].rname %></td>
                          <td><%= levyt[i].price %></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
            </section>
        </main>    
    </body>
</html>