<!DOCTYPE html>
<html>
    <head>
        <title>Kaaos korporaatio: Ulkomaalaiset levyt</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <nav class="pageNav">
            <ul>
                <li><a href="./">Pääsivu</a></li>
                <li><a href="./ulkomaiset_levyt">Ulkomaiset levyt</a></li>
                <li><a href="./suomilevyt">Suomalaiset levyt</a>  </li>
                <li><a href="./muut"><strong>Muut tuotteet</strong></a>  </li>
            </ul>
        </nav>
        <!-- header -->
        <%- include('partials/header') %>
        <main>
            </section>
            <section id="otherStuff">
                <section id="protected">
                    <h2>PROTECTED SUOJAMUOVEJA:</h2>
                    <p>
                        sinkun suojamuovi 100 kpl 10 € tai 0,10 € kpl<br>
                        10” suojamuovi  0,15 € kpl<br>
                        lp suojamuovi 100 kpl 20 € tai 0,20 € kpl - 30 g pe muovi<br>
                        lp suojamuovi 100 kpl 18 € tai 0,20 € kpl - 20 g pe muovi<br>
                        sinkun muovitettu sisäpussi 100 kpl 15 € tai 0,20 € kpl<br>
                    </p>
                </section>
                
                <h2>Mad Butcher -katalookista:</h2>
                <section id="other">
                    <h3>Sekalaista</h3>   
                </section>
                <section id="t-shirts">
                    <h3>T-Paidat</h3>
                    <p>12 € kpl, useimmat fruit of loom, mad butcherin kataloogista:</p>
                    <h4>M-koot</h4>
                    <h4>L-koot</h4>
                    <h4>XL-koot</h4>
                    <h4>XXL-koot</h4>
                </section>
                <section id="patches">
                    <h3>neulotut (brodeeratut) pätsit</h3>
                </section>
                <section id="pins">
                    <h3>METALLIPINSSIT</h3>
                </section>
            </section>
        </main>  
        <%- include('partials/footer') %>  
    </body>
</html>