
  .punk {
    font-size:6vw;
    text-align:center;
    background-color:#ccc;
  }
  
  .punk span {
    display:inline-block;
    margin:0 .05em;
    padding:0 .15em;
    min-width:.25em;
  }
  
  .punk span:first-child,
  .punk span:last-child {
    position:relative;
  }
  
  .punk span:first-child:before {
    content:"";
    border:solid 2px #eee;
    border-top-width:.2em;
    border-radius:.25em;
    height:.5em;
    left:-0.1em;
    position:absolute;
    top:-0.25em;
    transform:rotate(20deg);
    width:.15em;
  }
  
  .punk span:first-child:after {
    background-color:inherit;
    content:"";
    height:.15em;
    left:.05em;
    position:absolute;
    top:.05em;
    transform:rotate(20deg);
    width:.1em;
  }
  
  .punk span:last-child:before {
    content:"";
    border:solid 2px #eee;
    border-top-width:.2em;
    border-radius:.25em;
    height:.5em;
    right:-0.1em;
    position:absolute;
    top:-0.25em;
    transform:rotate(-20deg);
    width:.15em;
  }
  
  .punk span:last-child:after {
    background-color:inherit;
    content:"";
    height:.15em;
    right:.05em;
    position:absolute;
    top:.05em;
    transform:rotate(-20deg);
    width:.1em;
  }
  
  /* font */
  
  .punk span:nth-child(5n+1) {
    font-family:serif;
    font-size:1.25em;
  }
  
  .punk span:nth-child(5n+2) {
    font-family:sans-serif;
  }
  
  .punk span:nth-child(5n+3) {
    font-family:monospace;
    font-size:1.25em;
  }
  
  .punk span:nth-child(5n+4) {
    font-family:serif;
    font-style:italic;
  }
  
  .punk span:nth-child(5n+5) {
    font-family:fantasy;
  }
  
  /* shadow */
  
  .punk span:nth-child(4n+1) {
    box-shadow:.05em .05em currentColor;
  }
  
  /* rotate */
  
  .punk span:nth-child(3n+1) {
    transform:rotate(5deg);
  }
  
  .punk span:nth-child(3n+3) {
    transform:rotate(-5deg);
  }
  
  /* colour schemes */
  
  
  .punk span:nth-child(12n+1) {
    background-color:#FF0000;
    color:#000;
  }
  
  .punk span:nth-child(12n+2) {
    background-color:#FF7F00;
    color:#f09;
  }
  
  .punk span:nth-child(12n+3) {
    background-color:#FFFF00;
    color:#000;
  }
  
  .punk span:nth-child(12n+4) {
    background-color:#00FF00;
    color:#ff0;
  }
  
  .punk span:nth-child(12n+5) {
    background-color:#0000FF;
    color:#000;
  }
  
  .punk span:nth-child(12n+6) {
    background-color:#2E2B5F;
    color:#f09;
  }
  
  .punk span:nth-child(12n+7) {
    background-color: #8B00FF;
    color:#f09;
  }
  
  .punk span:nth-child(12n+8) {
    background-color:#FF0000;
    color:#ff0;
  }
  
  .punk span:nth-child(12n+9) {
    background-color:#FF7F00;
    color:#fff;
  }
  
  .punk span:nth-child(12n+10) {
    background-color:#FFFF00;
  }
  
  .punk span:nth-child(12n+11) {
    background-color:#00FF00;
  }
  
  .punk span:nth-child(12n+12) {
    background-color:#0000FF;
    color:#fff;
  }
  .punk span:nth-child(n) {
    color:#000;
    filter: saturate(0.5)
  }
  